tehtävät/osa 2/2a/node_modules copy/.package-lock.json
tehtävät/osa 2/2a/node_modules copy/.bin/acorn
tehtävät/osa 2/2a/node_modules copy/.bin/acorn.cmd
tehtävät/osa 2/2a/node_modules copy/.bin/acorn.ps1
tehtävät/osa 2/2a/node_modules copy/.bin/ansi-html
tehtävät/osa 2/2a/node_modules copy/.bin/ansi-html.cmd
tehtävät/osa 2/2a/node_modules copy/.bin/ansi-html.ps1
tehtävät/osa 2/2a/node_modules copy/.bin/autoprefixer
tehtävät/osa 2/2a/node_modules copy/.bin/autoprefixer.cmd
